.modal__button {
    padding: 10px 56px;
    margin: 0 auto;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background-color: #188CE8;
        }
}



.modal-close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    padding: 0;

    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;
    fill: currentColor;
}

.modal-close-button svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus svg,
    &:hover svg {
            fill: var(--accent-color);
        }
}

