.imput-field {
    width: 100%;
    height: 40px;

    padding: 12px 16px 12px 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    outline: transparent;

    &:focus {
            border-color: var(--accent-color);
        }
}
.label-img {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 18px;
    height: 18px;
    fill: var(--black-color);

    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.imput-field:focus+.label-img,
.imput-field:hover+.label-img {
    fill: var(--accent-color);
}