:root {
    --hero-bg-color: #2F303A;
    --black-color: #000000;
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --button-bgc-color: #F5F4FA;
    --button-hover: #188CE8;
    --footer-bg-color: #2F303A;
    --contact-link-dark: #757575;
    --adress-link-light: rgba(255, 255, 255, 0.6);
    --items: 3;
    --indent: 30px;
    --primary-icon-fill: #AFB1B8;
    --secondary-icon-fill: #FFFFFF;
}